# Gradle
.gradle/
build/
*/build/

# Android Studio
.idea/
*.iml
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Logs
*.log

# Captures
captures/
.externalNativeBuild/
.cxx

.DS_Store

